* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

// navigation bar
nav {
  padding: 10px 20px;
  background-color: #dddddd;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  // a{
  //   padding: 10px auto;
  //   text-decoration: none;
  //   color: black;
  // }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    li {
      margin: 0 10px;
    }
  }
}

.round-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  a {
    border: none;
    padding: 5px 9px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

// navigation bar end

//home page
// main section
#home-page {
  overflow: auto;
  width: 95%;
  margin: auto;
  margin-bottom: 60px;
  #discount-section {
    border-radius: 5px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  #shopping-section {
    width: 90%;
    margin: auto;
    .logo {
      border-radius: 5px;
      display: inline-flex;
      width: 100%;
      height: 71px;
      background-color: #c7c7c7;
      img {
        left: 2rem;
        top: 0;
      }
    }

    .shoes {
      display: flex;
      overflow: auto;
      white-space: nowrap;
      margin-right: 5px;
      img {
        margin: 5px;
      }
      .vans {
        width: 111px;
      }
    }
  }
}

//product page
#product-page {
  margin-bottom: 60px;
  #product {
    margin: auto;
    img {
      width: 100%;
    }
  }

  #discription {
    width: 80%;
    margin: auto;
    h1 {
      margin: 20px 0 50px 0;
    }
  }
}

//for product page and checkout page
.button-section {
  width: 100%;
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 15px;
    border: none;
    background-color: #dddddd;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    color: black;
    p {
      font-size: small;
    }
  }
  .cart {
    padding: 15px 60px;
  }
}

//checkout page
.checkout-page {
  margin: 150px 0 60px 0;

  .checkout-products {
    display: flex;
    width: 100%;
    background-color: #7e7e7e;
    border-radius: 5px;
    margin: 15px 0;
    img {
      margin: 5px 20px;
    }
    article {
      margin: 20px 10px;
      color: white;
      p {
        margin: 5px 0;
        font-size: 14px;
      }
      .non-title {
        font-size: 12px;
      }
    }
    i {
      margin: auto;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}
