* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

// navigation bar
nav {
  padding: 10px 20px;
  background-color: #dddddd;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  // a{
  //   padding: 10px auto;
  //   text-decoration: none;
  //   color: black;
  // }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;

    li {
      margin: 0 10px;
    }
  }
  .left-desk {
    display: none;
  }
}

.round-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  a,
  button {
    border: none;
    padding: 7px 9px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

// navigation bar end

//home page
// main section
#home-page {
  overflow: auto;
  width: 95%;
  margin: auto;
  margin-bottom: 60px;
  #discount-section {
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  #shopping-section {
    width: 90%;
    margin: auto;
    .logo {
      border-radius: 5px;
      display: inline-flex;
      width: 100%;
      height: 71px;
      background-color: #c7c7c7;
      img {
        left: 2rem;
        top: 0;
      }
    }
  }
}
.shoes {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin-right: 5px;
  img {
    margin: 5px;
  }
  .vans {
    width: 111px;
  }
}
//product page
#product-page {
  margin-bottom: 60px;
  .product {
    margin: auto;
    img {
      width: 100%;
    }
  }

  #discription {
    width: 80%;
    margin: auto;
    h1 {
      margin-top: 20px;
    }
    p {
      margin-top: 50px;
    }
  }
}

//for product page and checkout page
.more-shoes {
  display: none;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto 2rem auto;
  .price {
    display: none;
  }
  .btn {
    margin: 0 15px;
    border: none;
    background-color: #dddddd;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    p {
      font-size: small;
    }
  }
  .cart {
    padding: 15px 60px;
  }
}

//checkout page
.checkout-page {
  margin: 150px 0 60px 0;

  .checkout-products {
    display: flex;
    width: 100%;
    background-color: #7e7e7e;
    border-radius: 5px;
    margin: 15px 0;
    img {
      margin: 5px 20px;
    }
    article {
      margin: 20px 10px;
      color: white;
      p {
        margin: 5px 0;
        font-size: 14px;
      }
      .non-title {
        font-size: 12px;
      }
    }
    i {
      margin: auto;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 700px) {
  //navigation
  nav {
    position: relative;
    display: flex;
    ul {
      width: 100%;
      justify-content: space-between;

      .left-desk {
        display: flex;
        justify-content: right;
      }
      li {
        margin: 5px 30px;
      }
      .hide {
        display: none;
      }
    }
  }

  .round-btn {
    display: none;
  }

  //home page
  #home-page {
    width: 100%;
    #discount-section {
      margin: 20px 0;
      border-radius: 0;
    }
  }

  footer {
    width: 100%;
    height: 320px;
    background-color: #dddddd;
  }

  //product page

  #product-page {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    // #more-product{
    //   display: block;
    // }

    .product {
      width: 90%;
      display: flex;
      justify-content: center;
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
      }
    }
    .for-desktop {
      width: 50%;
      margin: 10px;
    }
    .button-section {
      position: inherit;
      margin: auto;
      margin-top: 30px;

      .btn {
        padding: 15px 20px;
      }
    }
  }

  .more-shoes {
    display: block;
    margin: 30px;
  }

  //checkout page
  .checkout-main {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    .checkout-products {
      width: 750px;
    }

    .button-section {
      position: inherit;
      display: block;
      width: auto;
      margin-top: 0 auto;
      #btn-for-mobile {
        display: none;
      }
      .price {
        margin: 20px 0;
        display: block;
        text-align: right;
        p {
          margin: 5px 0;
        }
      }
      .btn {
        margin: 0 0 0 45px;
        padding: 10px 30px;
      }
    }
  }
}
